/* пока только с чекбоксом не разобрался */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.autorize-card{
    width: 400px;
    padding: 55px 70px;
    background-image: url(../img/sf2.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 30px 40px -10px rgba(0, 0, 0, .9);
    /* background: rgb(48,35,174) url(../img/sf.png);
    background: url(../img/sf.png), -moz-linear-gradient(45deg, rgba(48,35,174,1) 0%, rgba(198,108,214,1) 100%);
    background: url(../img/sf.png), -webkit-linear-gradient(45deg, rgba(48,35,174,1) 0%, rgba(198,108,214,1) 100%);
    background: url(../img/sf.png), linear-gradient(45deg, rgba(48,35,174,1) 0%, rgba(198,108,214,1) 100%); */
}

.method, a{
    display: inline-block;
    color: #e1c2f1;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    margin-right: 3px;
}

a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #e66a64;
    transition: all .3s ease-in-out;
}

a:hover::after, a:focus::after{
    width: 100%;
}



.header{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.form__field-title{
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.form__control-input{
    height: 42px;
    width: 100%;
    border-radius: 0;
    border: 2px solid #9781c6;
    background: transparent;
    margin-bottom: 18px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}

.form__control-input:focus{
    outline: none;
    border-color: #23ae92;
}

.autorize-memory__checked{
    border-color: #23ae92;
    background-color: #23ae92;
    margin-bottom: 41px;
}

.keep__autorize{
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    
}

.autorize-memory{
    position: relative;
}

.btn-sign_in{
    display: inline-block;
    width: 100%;
    height: 42px;
    background-color: #23ae92;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0;
    margin-bottom: 33px;
    line-height: 42px;
}


.btn-sign_in:hover{
    background-color: #12725d;
}

.btn{
    background-color: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid #b9b9cc;
    color: #b9b9cc;
    font-size: 13px;
    cursor: pointer;
}

.form__actions-buton--transparent{
    display: flex;
    justify-content: space-between;
}




