@import 'reset';

$text-color: #262626;

body{
    font-family: 'Raleway', sans-serif;
    // font-size: calc(12px + (26 - 14) * ((100vw - 375px) / (1920 - 375)));
    // line-height: calc(18px + (32 - 16) * ((100vw - 375px)/(1920 - 375)));
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    
}

.title{
    font-size: 90px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.btn {
    display: inline-block;
    width: 90%;
    max-width: 200px;
    height: 55px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    &:hover{
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
    }
}

.text_wrap{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

header{
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 10001;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    .container__header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
    }
    &.page_header{
        height: 60px;
        -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
                box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, .7);
        .header_logo{
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            width: 64px;
            height: 27px;
        }
    }
}

.header__menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    li{
        margin-right: 37px;
        &:last-child{
            margin-right: 0;
        }
        .menu_point{
            color: $text-color;
            text-transform: uppercase;
            font-weight: 700;
            outline: none;
            line-height: 35px;
            &::before{
                content: '';
                display: block;
                height: 3px;
                width: 0%;
                background-color: #ff6033;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
            &:hover::before{
                width: 100%;
            }
            &:focus::before{
                width: 100%;

            }
        }
    }
}

.hamburger {
    display: none;
}

#menu_shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 10000;
    
}

.mobile_menu_block {
    position: fixed;
    top: 150px;
    right: -110%;
    height: 100%;
    width: 100%;
    max-width: 400px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
            box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, .7);
    z-index: 10001;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;  
}

.mobile_menu_higher {
    top: 60px;
}

.open #menu_shadow{
    display: block;
}

.open .mobile_menu_block{
    right: 0;
}

.mobile__menu {
    li {
        -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
                box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 50%);
        a {
            display: inline-block;
            width: 100%;
            padding: 20px;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 700;
            outline: none;
            line-height: 30px;
            
        }
    }
}

.first__section--white{
    width: 100%;
    padding: 347px 0 97px;
    background: rgb(250, 249, 251) url(../img/berry.png) top 67% right -14% no-repeat;
    background-size: contain;
    
    .container__section--white {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .container__info {
            width: 33.3333%;
            margin-bottom: 311px;
            }
        .first__title{
            font-size: 60px;
            color: $text-color;
            font-weight: 900;
            margin-bottom: 15px;
        }
        .btn--orange{
            background-color: #ff6030;
            color: #fff;
        }
    }
}

.main_text{
    font-size: 17px;
    font-weight: 300;
    &.first-section__main_text--black{
        color: $text-color;
        margin-bottom: 27px;
        line-height: 26px;
    }
}

.scroll_mouse{
    width: 24px;
    height: 40px;
    border: 2px solid #2d2d2d;
    margin: 0 auto;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    margin: -12px;
    
    &::before{
        content: '';
        width: 2px;
        height: 9px;
        background-color: #2d2d2d;
        position: absolute;
        left: 9px;
        top: 7px;
    }
}

.second__section--green{
    width: 100%;    
    padding: 53px 0 16px;
    background-color: #00baba;
    .container__section--green{
        background: url(../img/cup.png) top left 0 no-repeat;
        background-size: contain;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        padding-bottom: 215px;
        margin: 0 auto;
        .main_block{
            margin-top: 108px;
            width: 42.7350%;
            .title{  
                margin-bottom: 10px;              
                &+.second-section__main_text--white{
                    margin-bottom: 20px;
                }
            }
            .second-section__main_text--white{
                color: #fff;
                line-height: 25px;
            }
        }
    }
}

.third__section--blue{
    width: 100%;
    background-color: #70bfff;
    padding: 100px 0 151px;
    .container__section--blue{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;        
        -ms-flex-wrap: wrap;        
            flex-wrap: wrap;
        .container-title{
            width: 50%;
            position: relative;   
            background: url(../img/tomato.png) center right  no-repeat;
            background-size: contain;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;                       
            .third__title{
                text-align: right;
            }
        }
        .list_container{
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .servises_list{
                margin-left: 15px;                
                max-width: 400px;
                margin-top: 75px;
                width: 100%;
            }
        }
    }
}

.list {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
    // margin-bottom: 20px;
    margin: 0 0 20px 0;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    position: relative;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);    
    &::after {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        background-color: #9d9d9d;
        left: 75%;
        top: 0;
    }
    .list_link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: $text-color;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: 700;
        span{
            width: 65%;
        }
        img{
            width: 55px;
            height: 55px;
        }
    }
    &:hover{
       -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, .5);
               box-shadow: 0 0 5px 4px rgba(0, 0, 0, .5);
    }
}

.fourth__section--yellow {
    background-color: #ffe92f;
    text-align: center;
    padding: 100px 0 120px;
    .text_wrap--yellow{
        margin-bottom: 28px;
        .fourth__title {            
            color: $text-color;
            margin-bottom: 25px;
        }
        .fourth-section__main_text {
            line-height: 25px;
            margin-bottom: 45px;            
        }
    }
    .container__section--yellow {
        .picture_wrap{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;            
            -ms-flex-wrap: wrap;            
                flex-wrap: wrap;
            height: 100%;
            margin-bottom: 30px;
            .image_wrap {
                .image_inner {
                    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
                            box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
            .w68 {
                width: calc(65.8119% - 15px);
                height: 100%;                                
            }
            .w31 {                
                width: calc(31.6239% - 15px);                
                display: -webkit-box;                
                display: -ms-flexbox;                
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;                
                .w31_1 {
                    width: 100%;
                    height: calc(50% - 15px);                    
                }
            }
            .w50 {
                height: 100%;
                width: calc(50% - 15px);
            }

        }
    }
    .btn--grey {
        background-color: #5585a2;
        color: #fff;
    }
}

.fifth__section--white{
    padding: 145px 0 164px;
    background: url(../img/fontblueberry.png) top 100px right 40px no-repeat;
    .container_fifth__section--white{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .container_inner{
            width: 48.7179%;
            margin-right: 30px;
            .fifth__title{
                font-size: 60px;
                font-weight: 700;
                color: $text-color;
                margin-bottom: 30px;
            }
            .fifth-section__main_text--black{
                color: $text-color;
                line-height: 25px;
                margin-bottom: 30px;
            }
            .mail_area{
                width: 100%;
                height: 55px;
                border-radius: 0;
                border: 1px solid #000;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;                
                font-weight: 300;
                padding: 0 20px;
                &:focus{
                    outline: none;
                    border: 1px solid #96b92c;
                }
            }
        }
        .btn--green{
            background-color: #96b92c;
            font-family: 'Raleway', sans-serif; 
            border: none; 
            border-radius: 0;          
            cursor: pointer;
            color: #fff;
        }
    }
}

.sixth__section--violet{
    width: 100%;
    background-color: #b07cf7;
    text-align: center;
    padding: 100px 0 120px;
    .text_wrap--violet{
        margin-bottom: 57px;
        .sixth__title{
            font-size: 90px;
            color: #fff;
            margin-bottom: 25px;
        }
        .sixth-section__main_text--white{
            color: #fff;
            line-height: 25px;                
        }
    }
    .cards{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 50px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .card{
            width: calc(33.33333% - 15px);
            position: relative;
            -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            &:hover{
                -webkit-transform: scale(1.02);
                    -ms-transform: scale(1.02);
                        transform: scale(1.02);
            }
            .image{
                width: 100%;
                vertical-align: top;
            }
            .wrap{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 0 20px 20px 20px;
                background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%);
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.95)));
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%);
                .topic{
                    font-weight: 700;
                    color: #fff;
                    font-size: 20px;
                    text-align: left;
                    margin-bottom: 25px;
                }
                .by{
                    font-size: 13px;
                    color: #fff;
                    text-align: left;
                }
            }
            .date{
                position: absolute;
                top: 30px;
                left: 30px;
                width: 60px;
                height: 60px;
                color: #fff;
                font-size: 21px;
                font-weight: 900;
                border-radius: 6px;
                text-align: center;
                line-height: 30px;
                margin-left: -95px;
                margin-top: -95px;
                -webkit-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
                background-color: rgba(0, 0, 0, .5);
                &::first-line{
                    font-size: 32px;
                    font-weight: 700;
                }
            }
            &:hover .date{
                margin-left: 0;
                margin-top: 0;
            }
        }
    }
    .btn--red{
        color: #fff;
        background-color: #f72b3b;
    }
}

.seventh__section{
    background: url(../img/img.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    .text_wrap--sky{
        margin-bottom: 45px;
        max-width: 370px;
        .seventh__title{            
            color: $text-color;
            margin-bottom: 24px;
        }
        .seventh-section__main_text--black{                        
            line-height: 22px;
        }
    }
    .container__seventh-section{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .mini-container{
            width: calc(50% - 85px);
            margin-bottom: 48px;
        }
    }

}

.input_info{
    .area{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #fff;
        font-weight: 300;
        background-color: rgba(0, 196, 196, .5);
        border: 5px solid transparent;
        outline: none;
        padding: 0 20px;
        &::-webkit-input-placeholder{
            color: #fff;
        }
        &::-moz-placeholder{
            color: #fff;
        }
        &:-ms-input-placeholder{
            color: #fff;
        }
        &::-ms-input-placeholder{
            color: #fff;
        }
        &::placeholder{
            color: #fff;
        }
        &:focus{
            border-top: none;
            border-bottom: none;
            border-left: 5px solid #355b82;
            background-color: #00c4c4;
            font-weight: 700;
        }
    }
    textarea{
        width: 100%;
        height: 250px;
        resize: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #fff;
        font-weight: 300;
        background-color: rgba(0, 196, 196, .5);
        border: 5px solid transparent;
        outline: none;
        padding: 20px 20px;
        margin-bottom: 15px;
        &::-webkit-input-placeholder{
            color: #fff;
        }
        &::-moz-placeholder{
            color: #fff;
        }
        &:-ms-input-placeholder{
            color: #fff;
        }
        &::-ms-input-placeholder{
            color: #fff;
        }
        &::placeholder{
            color: #fff;
        }
        &:focus{
            border-top: none;
            border-bottom: none;
            border-left: 5px solid #355b82;
            background-color: #00c4c4;
            font-weight: 700;
        }
    }
    .btn--blue{
        background-color: #00c4c4;
        font-family: 'Raleway', sans-serif;
        color: #fff; 
        outline: none;
        border: 5px solid transparent;
        cursor: pointer;
        &:focus{
            border-top: none;
            border-bottom: none;
            border-left: 5px solid #355b82;
        }
    }
}

.contact_info{
    text-align: left;
    .list__title{
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .list__description, a{
        color: $text-color;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
    }
}

footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 90px;
    background-color: #262626;
    .copyright, .footer_slogan{
        color: #b9b9b9;
        font-weight: 300;
        font-size: 15px;
        .pink_text{
            color: #ff2b58;
            font-weight: 700;
        }
    }
}

.to_top{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 38px;
    background-color: rgba(255, 255, 255, .7);
    border: 2px solid transparent;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 100;
    &:hover{
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        border: 2px solid #ff6033;
    }
    
}

.active{
    display: block;
}

.modal_wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 11000;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    &.open{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .modal_window{
        background-color: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 3px 5px 10px #fff;
                box-shadow: 3px 5px 10px #fff;
        width: 100%;
        max-width: 400px;
        .modal_header{
            border-radius: 10px 10px 0 0 ;
            text-align: center;
            font-weight: 700;
            padding: 15px 0;
            color: $text-color;
            background-color: rgba(0, 0, 0, .7);
        }
        .modal_main{
            padding: 15px 0;
            text-align: center;
            a{
                display: inline-block;
                text-transform: uppercase;
                line-height: 35px;
                font-weight: 700;
                color: $text-color;
                width: 100%;
                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0%;
                    background-color: #ff6033;
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }
                &:hover::after {
                    width: 100%;
                }
                &:focus::after {
                    width: 100%;
                }
            }
        }
        .modal_footer{
            border-radius: 0 0 10px 10px;
            border-top: 1px solid #dbdbdb;
            background-color: rgba(0, 0, 0, .7);
            .close {
                cursor: pointer;
                margin: 0 auto;
                display: block;
                position: relative;
                width: 32px;
                height: 32px;
                opacity: 0.3;
                &:hover{
                    opacity: 1;
                }
                &::before, &::after{
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #fff;  
                }
            }
            .close:before {
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
            }
            .close:after {
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
        }
    }
}

@media screen and (max-width: 1206px){
    .third__section--blue{       
        .container__section--blue{          
            .container-title{                                   
                .third__title{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .second__section--green {        
        .container__section--green {            
            .main_block {                               
                .title {
                    color: $text-color;                    
                }
                .second-section__main_text--white {
                    color: $text-color;                    
                }
            }
        }
    }    
}

@media screen and (max-width: 1024px) {
    .second__section--green {
        background-size: 50%;
        background-position-y: 40%;        
    }
}

@media screen and (max-width:900px) {
    .first__section--white {
        padding: 220px 0 50px;
        .container__section--white {            
            -webkit-box-pack: center;            
                -ms-flex-pack: center;            
                    justify-content: center;
            .container__info{
                width: 90%;
                text-align: center;
                margin-bottom: 81px;
            }            
        }        
    }
    .second__section--green{
        .container__section--green {                
            -webkit-box-pack: center;                
                -ms-flex-pack: center;                
                    justify-content: center;
            .main_block {            
                width: 80%;
                text-align: center;
            }
        }
    }
    .fifth__section--white{
        padding: 80px 0 80px;
        background-position-y: 50px;      
        .container_fifth__section--white{           
            .container_inner{
                width: 60%;
            }
        }
    }
    .sixth__section--violet {
        padding: 50px 0 60px;
        .cards{            
            -webkit-box-pack: center;            
                -ms-flex-pack: center;            
                    justify-content: center;
            margin-bottom: 20px;
            .card{
                margin: 0 auto;
                margin-bottom: 30px;
                width: 40%;
                .wrap{
                    .by{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .seventh__section{ 
        padding-top: 40px;       
        .container__seventh-section{           
            .mini-container{
                width: calc(50% - 40px);        
            }
        }    
    }
}

@media screen and(max-width:768px){
    .first__section--white{
        background-size: cover;
    }
    .third__section--blue{        
        padding: 50px 0 75px;
        .third__title{
            font-size: 80px;
        }
    }
    .fourth__section--yellow {        
        padding: 50px 0 60px;
    }
}

@media screen and (max-width: 730px){
    .header__menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

@media screen and (max-width: 425px){
    .title{
        font-size: 60px;
    }
    .first__section--white {
        padding: 150px 0 50px;
        background-size: cover;
        background-position: center;
    }
    .second__section--green{
        .container__section--green{
            padding-bottom: 50px;
        }
    }
    .third__section--blue{
        .container__section--blue{
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            .container-title{
                width: 100%;
                background-position: center center;
            }
            .list_container{
                width: 100%;
                .servises_list{
                    margin-left: 0;
                }
            }                        
        }
        
    }
    .fourth__section--yellow{
        .container__section--yellow{
            .picture_wrap{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .w68{
                    width: 100%;
                    margin-bottom: 15px;
                }
                .w31{
                    margin-top: 15px;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    width: 100%;
                    .w31_1{
                        width: calc(50% - 15px);
                    }
                }                
            }
            .bottom_wrap{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
            }
        }
    }
    .fifth__section--white{
        background: none;
        .container_fifth__section--white{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .container_inner{
                width: 100%;
                margin: 0 0 20px;
                text-align: center;

            }
        }
    }
    .sixth__section--violet{
        .cards{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin-bottom: 0;
            .card{
                width: 80%;
            }
        }
    }
    .seventh__section{
        .container__seventh-section{
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            .mini-container{
                width: 100%;
            }
        }
    }
    footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .main_text{
        font-size: 20px;
    }
}

@media screen and (max-width: 375px){
    .title{
        font-size: 60px;
    }
    .third__section--blue {
        .third__title {
            font-size: 60px;
        }
    }
    .fourth__section--yellow {
        .container__section--yellow {
            .picture_wrap {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                margin-bottom: 0;
                .w68 {
                    width: 100%;
                    margin-bottom: 15px;
                }

                .w31 {
                    margin-top: 15px;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    width: 100%;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .w31_1 {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
            }

            .bottom_wrap {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                &:last-child{
                    margin-bottom: 0;
                }
                .w50{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .sixth__section--violet {       
        .text_wrap--violet {            
            .sixth__title {
                font-size: 60px;
            }
        }
        .cards {
            .card {
                .wrap {                   
                    .topic {

                        margin-bottom: 13px;
                    }
                }
                .date {                    
                    top: 10px;
                    left: 10px;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 700;                    
                    line-height: 17px;                
                    &::first-line {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.page_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

header{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

main{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

footer{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}