* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 90px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 700;
}

.btn {
  display: inline-block;
  width: 90%;
  max-width: 200px;
  height: 55px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}
.btn:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.text_wrap {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

header {
  height: 150px;
  position: fixed;
  width: 100%;
  z-index: 10001;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
header.page_header {
  height: 60px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
  box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.7);
}
header.page_header .header_logo {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 64px;
  height: 27px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header__menu ul li {
  margin-right: 37px;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li .menu_point {
  color: #262626;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  line-height: 35px;
}
.header__menu ul li .menu_point::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff6033;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu ul li .menu_point:hover::before {
  width: 100%;
}
.header__menu ul li .menu_point:focus::before {
  width: 100%;
}

.hamburger {
  display: none;
}

#menu_shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 10000;
}

.mobile_menu_block {
  position: fixed;
  top: 150px;
  right: -110%;
  height: 100%;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
  box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10001;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.mobile_menu_higher {
  top: 60px;
}

.open #menu_shadow {
  display: block;
}

.open .mobile_menu_block {
  right: 0;
}

.mobile__menu li {
  -webkit-box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
  box-shadow: 0 1px 5px 0 rgba(53, 68, 51, 0.5);
}
.mobile__menu li a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  color: #262626;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  line-height: 30px;
}

.first__section--white {
  width: 100%;
  padding: 347px 0 97px;
  background: #faf9fb url(../img/berry.png) top 67% right -14% no-repeat;
  background-size: contain;
}
.first__section--white .container__section--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.first__section--white .container__section--white .container__info {
  width: 33.3333%;
  margin-bottom: 311px;
}
.first__section--white .container__section--white .first__title {
  font-size: 60px;
  color: #262626;
  font-weight: 900;
  margin-bottom: 15px;
}
.first__section--white .container__section--white .btn--orange {
  background-color: #ff6030;
  color: #fff;
}

.main_text {
  font-size: 17px;
  font-weight: 300;
}
.main_text.first-section__main_text--black {
  color: #262626;
  margin-bottom: 27px;
  line-height: 26px;
}

.scroll_mouse {
  width: 24px;
  height: 40px;
  border: 2px solid #2d2d2d;
  margin: 0 auto;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  margin: -12px;
}
.scroll_mouse::before {
  content: "";
  width: 2px;
  height: 9px;
  background-color: #2d2d2d;
  position: absolute;
  left: 9px;
  top: 7px;
}

.second__section--green {
  width: 100%;
  padding: 53px 0 16px;
  background-color: #00baba;
}
.second__section--green .container__section--green {
  background: url(../img/cup.png) top left 0 no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-bottom: 215px;
  margin: 0 auto;
}
.second__section--green .container__section--green .main_block {
  margin-top: 108px;
  width: 42.735%;
}
.second__section--green .container__section--green .main_block .title {
  margin-bottom: 10px;
}
.second__section--green .container__section--green .main_block .title + .second-section__main_text--white {
  margin-bottom: 20px;
}
.second__section--green .container__section--green .main_block .second-section__main_text--white {
  color: #fff;
  line-height: 25px;
}

.third__section--blue {
  width: 100%;
  background-color: #70bfff;
  padding: 100px 0 151px;
}
.third__section--blue .container__section--blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.third__section--blue .container__section--blue .container-title {
  width: 50%;
  position: relative;
  background: url(../img/tomato.png) center right no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.third__section--blue .container__section--blue .container-title .third__title {
  text-align: right;
}
.third__section--blue .container__section--blue .list_container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.third__section--blue .container__section--blue .list_container .servises_list {
  margin-left: 15px;
  max-width: 400px;
  margin-top: 75px;
  width: 100%;
}

.list {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #fff;
  text-align: center;
  margin: 0 0 20px 0;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
.list::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: #9d9d9d;
  left: 75%;
  top: 0;
}
.list .list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #262626;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
}
.list .list_link span {
  width: 65%;
}
.list .list_link img {
  width: 55px;
  height: 55px;
}
.list:hover {
  -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
}

.fourth__section--yellow {
  background-color: #ffe92f;
  text-align: center;
  padding: 100px 0 120px;
}
.fourth__section--yellow .text_wrap--yellow {
  margin-bottom: 28px;
}
.fourth__section--yellow .text_wrap--yellow .fourth__title {
  color: #262626;
  margin-bottom: 25px;
}
.fourth__section--yellow .text_wrap--yellow .fourth-section__main_text {
  line-height: 25px;
  margin-bottom: 45px;
}
.fourth__section--yellow .container__section--yellow .picture_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 30px;
}
.fourth__section--yellow .container__section--yellow .picture_wrap .image_wrap .image_inner {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.fourth__section--yellow .container__section--yellow .picture_wrap .w68 {
  width: calc(67.1% - 15px);
}
.fourth__section--yellow .container__section--yellow .picture_wrap .w31 {
  width: calc(31.6239% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.fourth__section--yellow .container__section--yellow .picture_wrap .w31 .w31_1 {
  width: 100%;
  height: calc(50% - 15px);
}
.fourth__section--yellow .container__section--yellow .picture_wrap .w50 {
  height: 100%;
  width: calc(50% - 15px);
}
.fourth__section--yellow .btn--grey {
  background-color: #5585a2;
  color: #fff;
}

.fifth__section--white {
  padding: 145px 0 164px;
  background: url(../img/fontblueberry.png) top 100px right 40px no-repeat;
}
.fifth__section--white .container_fifth__section--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fifth__section--white .container_fifth__section--white .container_inner {
  width: 48.7179%;
  margin-right: 30px;
}
.fifth__section--white .container_fifth__section--white .container_inner .fifth__title {
  font-size: 60px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 30px;
}
.fifth__section--white .container_fifth__section--white .container_inner .fifth-section__main_text--black {
  color: #262626;
  line-height: 25px;
  margin-bottom: 30px;
}
.fifth__section--white .container_fifth__section--white .container_inner .mail_area {
  width: 100%;
  height: 55px;
  border-radius: 0;
  border: 1px solid #000;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0 20px;
}
.fifth__section--white .container_fifth__section--white .container_inner .mail_area:focus {
  outline: none;
  border: 1px solid #96b92c;
}
.fifth__section--white .container_fifth__section--white .btn--green {
  background-color: #96b92c;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
}

.sixth__section--violet {
  width: 100%;
  background-color: #b07cf7;
  text-align: center;
  padding: 100px 0 120px;
}
.sixth__section--violet .text_wrap--violet {
  margin-bottom: 57px;
}
.sixth__section--violet .text_wrap--violet .sixth__title {
  font-size: 90px;
  color: #fff;
  margin-bottom: 25px;
}
.sixth__section--violet .text_wrap--violet .sixth-section__main_text--white {
  color: #fff;
  line-height: 25px;
}
.sixth__section--violet .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sixth__section--violet .cards .card {
  width: calc(33.33333% - 15px);
  position: relative;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sixth__section--violet .cards .card:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.sixth__section--violet .cards .card .image {
  width: 100%;
  vertical-align: top;
}
.sixth__section--violet .cards .card .wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px 20px;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.95)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%);
}
.sixth__section--violet .cards .card .wrap .topic {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 25px;
}
.sixth__section--violet .cards .card .wrap .by {
  font-size: 13px;
  color: #fff;
  text-align: left;
}
.sixth__section--violet .cards .card .date {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 21px;
  font-weight: 900;
  border-radius: 6px;
  text-align: center;
  line-height: 30px;
  margin-left: -95px;
  margin-top: -95px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.sixth__section--violet .cards .card .date::first-line {
  font-size: 32px;
  font-weight: 700;
}
.sixth__section--violet .cards .card:hover .date {
  margin-left: 0;
  margin-top: 0;
}
.sixth__section--violet .btn--red {
  color: #fff;
  background-color: #f72b3b;
}

.seventh__section {
  background: url(../img/img.png) no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}
.seventh__section .text_wrap--sky {
  margin-bottom: 45px;
  max-width: 370px;
}
.seventh__section .text_wrap--sky .seventh__title {
  color: #262626;
  margin-bottom: 24px;
}
.seventh__section .text_wrap--sky .seventh-section__main_text--black {
  line-height: 22px;
}
.seventh__section .container__seventh-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.seventh__section .container__seventh-section .mini-container {
  width: calc(50% - 85px);
  margin-bottom: 48px;
}

.input_info .area {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 196, 196, 0.5);
  border: 5px solid transparent;
  outline: none;
  padding: 0 20px;
}
.input_info .area::-webkit-input-placeholder {
  color: #fff;
}
.input_info .area::-moz-placeholder {
  color: #fff;
}
.input_info .area:-ms-input-placeholder {
  color: #fff;
}
.input_info .area::-ms-input-placeholder {
  color: #fff;
}
.input_info .area::placeholder {
  color: #fff;
}
.input_info .area:focus {
  border-top: none;
  border-bottom: none;
  border-left: 5px solid #355b82;
  background-color: #00c4c4;
  font-weight: 700;
}
.input_info textarea {
  width: 100%;
  height: 250px;
  resize: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 196, 196, 0.5);
  border: 5px solid transparent;
  outline: none;
  padding: 20px 20px;
  margin-bottom: 15px;
}
.input_info textarea::-webkit-input-placeholder {
  color: #fff;
}
.input_info textarea::-moz-placeholder {
  color: #fff;
}
.input_info textarea:-ms-input-placeholder {
  color: #fff;
}
.input_info textarea::-ms-input-placeholder {
  color: #fff;
}
.input_info textarea::placeholder {
  color: #fff;
}
.input_info textarea:focus {
  border-top: none;
  border-bottom: none;
  border-left: 5px solid #355b82;
  background-color: #00c4c4;
  font-weight: 700;
}
.input_info .btn--blue {
  background-color: #00c4c4;
  font-family: "Raleway", sans-serif;
  color: #fff;
  outline: none;
  border: 5px solid transparent;
  cursor: pointer;
}
.input_info .btn--blue:focus {
  border-top: none;
  border-bottom: none;
  border-left: 5px solid #355b82;
}

.contact_info {
  text-align: left;
}
.contact_info .list__title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact_info .list__description, .contact_info a {
  color: #262626;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  background-color: #262626;
}
footer .copyright, footer .footer_slogan {
  color: #b9b9b9;
  font-weight: 300;
  font-size: 15px;
}
footer .copyright .pink_text, footer .footer_slogan .pink_text {
  color: #ff2b58;
  font-weight: 700;
}

.to_top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #262626;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 38px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
}
.to_top:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border: 2px solid #ff6033;
}

.active {
  display: block;
}

.modal_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11000;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal_wrap.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal_wrap .modal_window {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 10px #fff;
  box-shadow: 3px 5px 10px #fff;
  width: 100%;
  max-width: 400px;
}
.modal_wrap .modal_window .modal_header {
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  color: #262626;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal_wrap .modal_window .modal_main {
  padding: 15px 0;
  text-align: center;
}
.modal_wrap .modal_window .modal_main a {
  display: inline-block;
  text-transform: uppercase;
  line-height: 35px;
  font-weight: 700;
  color: #262626;
  width: 100%;
}
.modal_wrap .modal_window .modal_main a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff6033;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal_wrap .modal_window .modal_main a:hover::after {
  width: 100%;
}
.modal_wrap .modal_window .modal_main a:focus::after {
  width: 100%;
}
.modal_wrap .modal_window .modal_footer {
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #dbdbdb;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal_wrap .modal_window .modal_footer .close {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.modal_wrap .modal_window .modal_footer .close:hover {
  opacity: 1;
}
.modal_wrap .modal_window .modal_footer .close::before, .modal_wrap .modal_window .modal_footer .close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.modal_wrap .modal_window .modal_footer .close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal_wrap .modal_window .modal_footer .close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (max-width: 1206px) {
  .third__section--blue .container__section--blue .container-title .third__title {
    text-align: center;
  }
}
@media screen and (max-width: 1170px) {
  .second__section--green .container__section--green .main_block .title {
    color: #262626;
  }
  .second__section--green .container__section--green .main_block .second-section__main_text--white {
    color: #262626;
  }
}
@media screen and (max-width: 1024px) {
  .second__section--green {
    background-size: 50%;
    background-position-y: 40%;
  }
}
@media screen and (max-width: 900px) {
  .first__section--white {
    padding: 220px 0 50px;
  }
  .first__section--white .container__section--white {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .first__section--white .container__section--white .container__info {
    width: 90%;
    text-align: center;
    margin-bottom: 81px;
  }

  .second__section--green .container__section--green {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .second__section--green .container__section--green .main_block {
    background: rgba(255, 255, 255, 0.5);
    width: 80%;
    text-align: center;
  }

  .fifth__section--white {
    padding: 80px 0 80px;
    background-position-y: 50px;
  }
  .fifth__section--white .container_fifth__section--white .container_inner {
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
  }

  .sixth__section--violet {
    padding: 50px 0 60px;
  }
  .sixth__section--violet .cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .sixth__section--violet .cards .card {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 40%;
  }
  .sixth__section--violet .cards .card .wrap .by {
    font-size: 16px;
  }

  .seventh__section {
    padding-top: 40px;
  }
  .seventh__section .container__seventh-section .mini-container {
    width: calc(50% - 40px);
  }
}
@media screen and (max-width: 840px) {
  .third__section--blue .container__section--blue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .third__section--blue .container__section--blue .container-title {
    width: 100%;
    background-position: center center;
    justify-content: center;
  }
  .third__section--blue .container__section--blue .list_container {
    width: 100%;
  }
  .third__section--blue .container__section--blue .list_container .servises_list {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .first__section--white {
    background-size: cover;
  }

  .third__section--blue {
    padding: 50px 0 75px;
  }
  .third__section--blue .third__title {
    font-size: 80px;
  }

  .fourth__section--yellow {
    padding: 50px 0 60px;
  }

  .fourth__section--yellow .container__section--yellow .picture_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w68 {
    width: 100%;
    margin-bottom: 15px;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w31 {
    margin-top: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w31 .w31_1 {
    width: calc(50% - 15px);
  }
  .fourth__section--yellow .container__section--yellow .bottom_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (max-width: 730px) {
  .header__menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 715px) {
  .sixth__section--violet .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
  .sixth__section--violet .cards .card {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .fourth__section--yellow .container__section--yellow .picture_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w68 {
    width: 100%;
    margin-bottom: 15px;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w31 {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w31:last-child {
    margin-bottom: 0;
  }
  .fourth__section--yellow .container__section--yellow .picture_wrap .w31 .w31_1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .fourth__section--yellow .container__section--yellow .bottom_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fourth__section--yellow .container__section--yellow .bottom_wrap:last-child {
    margin-bottom: 0;
  }
  .fourth__section--yellow .container__section--yellow .bottom_wrap .w50 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 60px;
  }

  .first__section--white {
    padding: 150px 0 50px;
    background-size: cover;
    background-position: center;
  }

  .second__section--green .container__section--green {
    padding-bottom: 50px;
  }

  .fifth__section--white {
    background: none;
  }
  .fifth__section--white .container_fifth__section--white {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .fifth__section--white .container_fifth__section--white .container_inner {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .seventh__section .container__seventh-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .seventh__section .container__seventh-section .mini-container {
    width: 100%;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main_text {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .title {
    font-size: 60px;
  }

  .third__section--blue .third__title {
    font-size: 60px;
  }

  .sixth__section--violet .text_wrap--violet .sixth__title {
    font-size: 60px;
  }
  .sixth__section--violet .cards .card .wrap .topic {
    margin-bottom: 13px;
  }
  .sixth__section--violet .cards .card .date {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  .sixth__section--violet .cards .card .date::first-line {
    font-size: 16px;
    font-weight: 700;
  }
}
.page_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}