<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/mainScreen.min.css">
    <link rel="stylesheet" href="../assets/fonts/lack.css">
    <title>Smart home controller</title>
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="main_screen">
                    <div class="main_screen-control_bar">
                        <div class="main_screen-logo">
                            <img src="../assets/svg/Group 1.png" alt="logo">
                        </div>
                        <ul class="main_screen-control-list">
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#rooms"></use>
                                    </svg>
                                    <div>Rooms</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#security"></use>
                                    </svg>
                                    <div>Security</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                   <svg>
                                       <use xlink:href="../assets/svg/sprite.svg#statistics"></use>
                                   </svg>
                                   <div>Statistics</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#members"></use>
                                    </svg>
                                    <div>Members</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#billing"></use>
                                    </svg>
                                    <div>Billing</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="main_screen-info_wrap">
                        <div class="main_screen-control_panel">
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#settings"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#notification"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon-bigger">
                                    <use xlink:href="../assets/svg/sprite.svg#profile"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="main_screen-info_inner">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>